body {

}

/*.anh:hover{
    transform: scale(1.1);
}*/

.chu{
   font-weight: bold;
   text-align: center;
}

.abc:hover{
    color: red;
    text-align:center;
}

.anh:hover{
    transform: scale(1.1);
}
.button:hover{
    color:orangered;
    transform:scale(1.1);
}
.xyz:hover{
    transform: scale(1.05);
    color: royalblue;
    text-align: center;

}
